{% extends "layout.html" %}

{% block content %}
<!-- Services Start -->
<section class="container about_section">
    <h2>About Our Project</h2>
    <p>
        About 285 million people in the world are visually impaired, approximately equal to the
        20% of the Indian Population. They suffer regular and constant challenges in reading in
        daily life. So, it’s a quite challenging task and the technological solution for them is
        of atmost importance and much needed. In this project  ARTIFICIAL EYES TO VISUALLY IMPAI-
        RED (AE2VI) one can upload image which undergo image processing via grayscaling, normali-
        zation and binarization which gives clarity in image then, that imageis converted to text
        using Tesseract OCR and in addition, user can translate the text in desired language using
        Google Translator and the output text is converted to Speech using gTTS.

    </p>


</section>
{% endblock%}