{% extends "layout.html" %}

{% block content %}
<!-- Services Start -->
<section class="container contact-section">
    <h2>Contact Us</h2>
  <form action="{{url_for('submit')}}" method="post">
      <input type="text" placeholder="enter your first name" name="first_name">
      <input type="text" placeholder="enter your middle name" name="millde_name">
      <input type="text" placeholder="enter your last name" name="last_name">
      <input type="tel" placeholder="enter your number" name="number">
    <input type="email" placeholder="Enter your email" name="email-1" >
      <button>submit</button>

  </form>


</section>
{% endblock%}