{% extends "layout.html" %}
{% block content %}

<!-- Services Start -->
{% if error %}
<section id="services" class="services-section section-space-padding">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Image to Speech</h2>
                    <div class="divider dark">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                    </div>
                    <p>Upload the Image you want to convert</p>
                </div>
            </div>
        </div>

        <div class="row">
            <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <div class="file-upload">

<!--                changes here for camera-->
<!--                <form action="{{url_for('camera')}}">-->
<!--                    <button class="file-upload-btn " type="submit" onclick="$('.file-upload-input').trigger( 'click' )">camera</button>-->
<!--                </form>-->

                <form action="{{url_for('imagetospeechtest')}}" method="post" enctype="multipart/form-data">
                    <input type="file" class="custom-file-input text-center file-upload-btn" name="imageFile">
                    <select class="file-upload-btn" name="lang_list">
                        {% for key,value in data.items() %}
                        <option value="{{key}}">{{value}}</option>
                        {%endfor%}
                    </select>
                
                    <button class="file-upload-btn " type="submit" onclick="$('.file-upload-input').trigger( 'click' )">submit</button>

                </form>
                <div class="form-group">
                    <label class="text-center">Converted Text : </label>
                    <textarea class="form-control textl" rows="5" id="comment">{{extracted_text}}</textarea>
                </div>

                <div class="form-group">
                    <label for="comment">Translated Text : </label>
                    <textarea class="form-control" rows="5" id="comment">{{transText}}</textarea>
                </div>
                {% if ado %}
                <!-- {{adfile}}
                
                {{aname}}
                {{url_for('static',filename=aname)}} -->
                {% set aname=adfile %}
                <audio controls class="btn-block">
                    <source src="{{url_for('static',filename=aname)}}" type="audio/mpeg">
                  </audio> 
                {% else %}
                <p> Please choose a file first to get the audio output </p>
                {% endif %}

                <form action="{{url_for('home')}}" method="post" class="my-3">
                    <button  class="file-upload-btn  cancel" style="margin-top: 12px;">
                        cancel</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% else %}
<section id="services" class="services-section section-space-padding">
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="section-title">
                    <h2>Image to Speech</h2>
                    <div class="divider dark">
                        <i class="fa fa-commenting" aria-hidden="true"></i>
                    </div>
                    <p>Upload the Image you want to convert</p>
                </div>
            </div>
        </div>

        <div class="row">
            <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
            <div class="file-upload">

<!--                changes here for camera-->
<!--                <form action="{{url_for('camera')}}">-->
<!--                    <button class="file-upload-btn " type="submit" onclick="$('.file-upload-input').trigger( 'click' )">camera</button>-->
<!--                </form>-->

                <form action="{{url_for('imagetospeechtest')}}" method="post" enctype="multipart/form-data">
                    <input type="file" class="custom-file-input text-center file-upload-btn" name="imageFile">
                    <select class="file-upload-btn" name="lang_list">
                        {% for key,value in data.items() %}
                        <option value="{{key}}">{{value}}</option>
                        {%endfor%}
                    </select>
                
                    <button class="file-upload-btn " type="submit" onclick="$('.file-upload-input').trigger( 'click' )">submit</button>

                </form>
                <div class="form-group">
                    <label class="text-center">Converted Text : </label>
                    <textarea class="form-control textl" rows="5" id="comment">{{extracted_text}}</textarea>
                </div>

            {% if pdfaudio %}
                <audio controls class="btn-block">
                    <source src="{{url_for('static',filename='convert.mp3')}}" type="audio/mpeg">
                  </audio> 
            {% else %}
                <p> Please choose a file first to get the audio output </p>
                {% endif %}

                <form action="{{url_for('home')}}" method="post" class="my-3">
                    <button  class="file-upload-btn  cancel" style="margin-top: 12px;">
                        cancel</button>
                </form>

            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock%}